<div id="footergeneral">
  <div class="container" id="footer">
    <div class="row espacio">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="titulofooter"><h5>Acerca de SJC</h5></div>
          <div><h6>Terminos de Uso</h6></div>
          <div><h6>Corporativas</h6> </div>
          <div><h6>Beneficios</h6></div>
          <div><h6>Trabaje con nosotros</h6></div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="titulofooter"><h5>Categorias</h5></div>
          <div class="enlace1" routerLink="/hombre"><h6>Hombre</h6></div>
          <div class="enlace2" routerLink="/mujer"><h6>Mujer</h6></div>
          <div class="enlace3" routerLink="/accesorios"><h6>Accesorios</h6></div>
          <div class="enlace4" routerLink="/gadgets"><h6>Gadgets Tecnológicos</h6></div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="titulofooter"><h5>Información</h5></div>
          <div><h6>Preguntas Frecuentes</h6></div>
          <div><h6>Terminos y Condiciones</h6></div>
          <div><h6>Aviso de Privacidad</h6></div>
          <div><h6>Peticiones, quejas y reclamos</h6></div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <div class="titulofooter"><h5>Síguenos</h5></div>
          <div id="redes">
            <img id="redes" src="assets/Imatienda/Redes.jpg">
            </div>
        </div>
    </div>
  </div>
</div>
