<app-carrucel></app-carrucel>

<div class="contenedor">
    <div class="row">
        <div id="hombre">
            <h1>SOBRE NOSOTROS</h1>
        </div>
        <div class="col-12 l-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>SJC Shop es una tienda virtual que se ajusta a las necesidades de todas las personas, donde podrás encontrar ropa para hombre y mujer, accesorios y gadgets tecnológicos, que se acomoda al gusto y presupuesto de todos nuestros clientes.</div>
        </div>
    </div>
    
    
</div>

<!-- <div id="tex1">
    <img id="th" src="assets/Imatienda/TEXTH.png" routerLink="/hombre">
</div> -->

<!-- <div class="contenedor2">
    <div id="mujer">
    <img id="mujer" src="assets/Imatienda/Mujer.jpg" routerLink="/mujer">
    </div>
    
</div> -->

<!-- <div id="tex2">
    <img id="tm" src="assets/Imatienda/TEXTM.png" routerLink="/mujer">
</div> -->

