div#hombre {
    border: solid 1px #ebebeb;
    margin-left: 50px;
    margin-top: 73px;
    height: 53px;
    width: 344px;
    margin-bottom: 34px;
    padding: 5px;
}

.col-12.l-sm-12.col-md-6.col-lg-6.col-xl-6 {
    border: solid 1px #ebebeb;
    padding: 31px;
    margin-left: 16px;
    margin-top: 21px;
    border-radius: 11px;
    background: #f7ac6bb5;
}

h1 {
    color: brown;
}
