<div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8673.012743765927!2d-74.06342106468679!3d4.6662694226270505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5f3f535297%3A0xf509f2cb0f590c3!2sUnilago!5e0!3m2!1ses!2sco!4v1639604100210!5m2!1ses!2sco" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col xl-6" id="informacioncontactenos">
            <div class="Titulo"><h3>Contactenos</h3></div>
            <div><h5>Dirección: Cra 15 # 74-16</h5></div>
            <div><h6>Teléfono: 318-5253149</h6></div>
            <div>
            Nos interesa saber de ti, cuéntanos tu opinión. Siempre tenemos en cuenta tus sugerencias para mejorar.
            </div>
            <div id="logo1">
                <img id="logo" src="assets/Imatienda/LOGO 1.jpeg">   
            </div>
        </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col xl-6" id="formulariocontac">
        <div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="">
              </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" id="telefono" placeholder="">
            </div>

            <div class="form-group">
                <label for="asunto">Asunto</label>
                <input type="text" class="form-control" id="asunto" placeholder="">
            </div>
        
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Mensaje</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary">Enviar Mensaje</button>
        </div>
      </div>
    </div>
</div>